@media screen and (max-width: 764px) {

    /* All document */
    * {
        background-color: lightcyan;
    }

    body {

    }

    /* Main Container */
    .container {

    }

    .imgslide {
        display: none;
    }

    .main-nav img {
        padding-top: 0px;
        margin-bottom: 5%;
        width: 250px;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        padding:10% 0 10% 0;
    }

    .main-nav ul li a {
        padding: 0px;
        font-size: 15px;
        width: 100%;
        margin-top: 15%;
    }

    .main-nav logo {
        display: block;
        width: 100%;
    }

    .main-links {
    display: flex;
	flex-direction: row;
    }

    .passive {
        width: 45%;
        background-color: lightcyan;
    }

    .active {
        width: 45%;
    }

    .part1 {
        padding-bottom: 0px;
    }

    .part2 {
        padding-top: 0px;
    }

    .slide {
        margin-top: 5%;
    }


    .part1, .part2 {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    }

    .about-us h3 {
        margin: 0px;
    }

    .about-us p {
        margin: 0px;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    .form-txt h4 {
        text-align: left;
        padding: 0px;
    }

    .form-txt p {
        text-align: left;
        padding: 0px;
    }

    input[type=firstname], [type=lastname], [type=email], [type=tel] {
        width: 80%;
        margin: 5% 0px;
    }

    textarea {
        width: 80%;
        margin: 10px 0px;
    }

    .cform {
        padding: 20px 0px;
    }

    input[type=submit] {
        width: 90%;
        margin: 5% auto;
        align-items: center;

    }

    .logo-f {
        margin: 0px;
    }

    .logo-f img {
        width: 220px;
    }

    .section2 div p {
        width: 100%;
    }

    div .box {
        margin: 5%;
    }






}